
    <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/plugins/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        setTimeout(function() {
          $(".auto-hide").slideUp(300);
        }, 4000);
      });
    </script>
  </body>
</html>
